.Backdrop {
    align-content: center;
    position: fixed;
    overflow: hidden;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    
}

.Backdrop img{
    display: block;
    max-width: 30%;
    max-height: 80%;
    /* margin: 60px auto; */
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5) ;
    border: 3px solid white;

}

.paragraph {
    text-align: center;
}