.MovieCard {
    color: white;
    list-style: none;
    font-size: 1.3rem;
    text-align: -webkit-center;
    overflow:-moz-hidden-unscrollable;
}


.MovieImage {
    border-radius: 10px;
    background-color: gray;  
    overflow: hidden;
    width: 230px;
    height: 345px;
    
}

.MovieImage:hover {
    box-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white;
    
}

@media (max-width: 560px) {
    .MoviesImage {
        width: 80%;
        height: auto;
        overflow: hidden;
    }
}