.spinner {
    display: flex;
    justify-content: center;
    color: white;
    margin: 20rem;
    overflow: hidden;
}

.spinning {
    height: 70px;
    width: 75px;
    animation: spinner 1.7s infinite;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 860px) {
    .spinner {
        margin-top: 15rem;
        margin-left: 10px;
        margin-right: 10px;
    }

}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.bottomSpinner{
    margin: none;
    padding-left: 10px;
    padding-right: 10px;
    
}