:root {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --transition-speed2: 1000ms;
}

body {
    background-color: rgb(24, 24, 24);
    color: #fff;
    margin: 0;
    padding: 0;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
    color: white;
}



main {
    margin-left: 5rem;
    /* padding: 1rem; */
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: hidden;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1.4rem;
}

.nav-link svg {
    width: 1.8rem;
    min-width: 1.8rem;
    margin: 0 1.5rem;
}

.nav-link img {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    /* color: #ff7eee; */
    color: #00ecfd;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.GatoLogo{
    color: #ff7eee;
}

.logo img {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text{
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo img {
    transform: rotate(-360deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        overflow: hidden;

    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .nav-item {
        margin-top: auto;
    }

    main {
        margin: 0;
    }
    
    .chats-page {
        /* position: absolute; */
        /* top: 0px; */
        /* left: 0px; */
        /* width: 100vw; */
        height: 110.5vh;
        /* background-color: black; */
        color: black;
    }

}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo img
    {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text
    {
        left: 0px;
    }
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}
  
@tailwind base;
@tailwind components;
@tailwind utilities;




.nav-bar {
    width: 100%;
    height: 5rem;
    background-color: #000000;
}

.logo-tab {
    position: absolute;
    left: 22px;
    top: 3vh;
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.logout-tab {
    position: absolute;
    top: 3vh;
    right: 3vw;
    color: white;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

/* Login Page */

#login-page {
    background-image: linear-gradient(#40a9ff, #096dd9);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 100px;
    right: 0px;
}

#login-card {
    position: absolute;
    top: calc(50vh - 144px);
    left: calc(50vw - 210px);
    padding-top: 8vh;
    padding-bottom: 5vh;
    width: 420px;
    text-align: center;
    background-color: rgb(223, 223, 223);
    border-radius: 22px;
}

.login-button {
    cursor: pointer;
    color: white;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
}

.facebook {
    background-color: #3b5998;
}

.google {
    background-color: #333333;
    color: white;
    margin-top: 20px;
}

#loading-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
    font-size: 66px;
    position: relative;
    left: calc(50vw - 33px);
    top: calc(50vh - 22px);
}
.chats-page {
    color: black;
}

.anticon svg{
    display: block;
}